.board > table tr > td {
  color: transparent;
}
.board > table tr > td:hover {
  cursor: pointer;
  color: #C9CAA4;
}
.board > table tr > td.selected,
.board > table tr > td.selected:hover {
  color: #333;
}
.board > table tr > td.marked {
  background-color: #FFDC00;
}

.board > table.finished > .finish-panel {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.board > table.finished > .finish-panel .clearfix {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.board > table.finished > .finish-panel > h3 {
  text-align: center;
    font-size: 3em;
}
.board > table.finished > .finish-panel .clearfix > button:first-child {
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid #777;
  float: left;
  margin-left: 50px;
}
.board > table.finished > .finish-panel .clearfix > button:last-child {
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid #777;
  float: right;
  margin-right: 50px;
}
